Flask

werkzeug


itsdangerous
markupsafe

jinja2


gunicorn


pytest
pytest-cov
flake8
mock


Click

Flask-SQLAlchemy
flask_migrate
alembic

SQLAlchemy
sqlalchemy_utils

importlib-metadata

celery[redis]


Faker


flask-debugtoolbar
PyMySQL[rsa]
pytz
requests

